.title {
    font-size: 50px;
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
}

div {
    text-align: center;
}

.crystalPics {
    box-align: center;
    padding-left: 520px;
}

.currentNum {
    width: 500px;
    background: gray;
    height: 300px;
    
}